<div>ToDo <small>(<i class="fal fa-star"></i>: {{count.today}} <i class="fal fa-calendar"></i>:{{count.tomorrow}} <i class="fal fa-inbox"></i>: {{count.inbox}})</small></div>
<table class="small" style="text-align: left;">
    <tbody>
        {% for entry in todayEntries %}
        <tr style="margin-top: 0.3em">
            <td style="padding-right: 0.5em;"><i class="fal fa-square"></i></td><td>{{ entry.title }}</td>
        </tr>
        {% else %}
        <tr>
            <td>No Entries found for today. Good Job!</td>
        </tr>
        {% endfor %}
        {% if hasMoreEntries %}
        <tr>
            <td></td>
            <td>(There are more entries …)</td>
        </tr>
        {% endif %}
    </tbody>
</table>